In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn import preprocessing
%matplotlib inline

In [2]:
ratings=pd.read_csv("toy_dataset.csv",index_col=0)
ratings = ratings.fillna(0)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

In [3]:
#ratings=rating.copy()

In [4]:
#x=preprocessing.scale(ratings.T)

In [5]:
#u=pd.DataFrame(x,ratings.columns)

In [6]:
#u

In [7]:
#ratings['action1']=preprocessing.scale(ratings['action1'])
#ratings['action2']=preprocessing.scale(ratings['action2'])
#ratings['action3']=preprocessing.scale(ratings['action3'])
#ratings['romantic1']=preprocessing.scale(ratings['romantic1'])
#ratings['romantic2']=preprocessing.scale(ratings['romantic2'])
#ratings['romantic3']=preprocessing.scale(ratings['romantic3'])

In [8]:
#ratings.head()

In [9]:
#rating=ratings.fillna(0)

In [10]:
#cosine_similarity(rating)

In [11]:
ratings['action1'].sum()

11.0

In [12]:
def standardize(row):
    return(row - row.mean()) / (row.max() -row.min())
ratings_std=ratings.apply(standardize).fillna(0)
ratings_std

        action1  action2   action3  romantic1  romantic2  romantic3
user 1     0.36      0.6  0.400000      -0.65      -0.08      -0.35
user 2     0.56      0.2  0.400000      -0.15      -0.08      -0.60
user 3    -0.24     -0.4 -0.600000       0.35       0.52       0.40
user 4    -0.44      0.0 -0.266667       0.35      -0.48       0.15
user 5    -0.24     -0.4  0.066667       0.10       0.12       0.40

In [13]:
ratings['action1'].sum()

11.0

In [14]:
ratings_std.fillna(0)

        action1  action2   action3  romantic1  romantic2  romantic3
user 1     0.36      0.6  0.400000      -0.65      -0.08      -0.35
user 2     0.56      0.2  0.400000      -0.15      -0.08      -0.60
user 3    -0.24     -0.4 -0.600000       0.35       0.52       0.40
user 4    -0.44      0.0 -0.266667       0.35      -0.48       0.15
user 5    -0.24     -0.4  0.066667       0.10       0.12       0.40

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
cosine_similarity(ratings_std)

array([[ 1.        ,  0.76409098, -0.83718317, -0.57786068, -0.7361606 ],
       [ 0.76409098,  1.        , -0.78062564, -0.60148288, -0.74685173],
       [-0.83718317, -0.78062564,  1.        ,  0.23334449,  0.64173153],
       [-0.57786068, -0.60148288,  0.23334449,  1.        ,  0.24550092],
       [-0.7361606 , -0.74685173,  0.64173153,  0.24550092,  1.        ]])

In [17]:
item_similarity=cosine_similarity(ratings_std.T)
item_similarity_df=pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)

In [18]:
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

In [19]:
def get_similar_movies(movie_name,rating):
    similar_score=item_similarity_df[movie_name]*(rating - 2.5)
    similar_score=similar_score.sort_values(ascending=False)
    return similar_score

get_similar_movies("romantic1",1)

action3      1.271919
action2      1.267731
action1      1.199116
romantic2   -0.222059
romantic3   -1.085620
romantic1   -1.500000
Name: romantic1, dtype: float64

In [20]:
action_lover=[("action1",5),("romantic2",5),("action2",5)]
similar_movies=pd.DataFrame()

for movie,rating in action_lover:
    similar_movies=similar_movies.append(get_similar_movies(movie,rating),ignore_index=True)
    
similar_movies.sum().sort_values(ascending=False)

action1      4.203242
action2      2.969224
action3      2.892007
romantic2    1.139022
romantic3   -3.408851
romantic1   -3.741315
dtype: float64